/*CSS document */

body {
  background-color: #3582c4;
}

h1 {
  font-family: cursive;
}

h3 {
  font-family: cursive;
}

h4 {
  font-family: cursive;
}

photos.html {
  background-color: gray;
}
