/*CSS document */

body {
margin: 0 auto;
max-width: 1400px;
}

h1 {
  font-family: cursive;
}

h3 {
  font-family: cursive;
}

h4 {
  font-family: cursive;
}

photos.html {
  background-color: gray;
}
